[Unit]
Description=RFID Authorizor for Front Door Latch Access
After=network.target

[Service]
Type=simple

LogNamespace=keep

WorkingDirectory=/home/marcidy/100101SecBot

Environment="QUEERIOUSLABS_ENV=PROD"
ExecStart=/home/marcidy/venv/bin/python3 /home/marcidy/100101SecBot/authorizer.py
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
