[Unit]
Description=RFID Reader for Front Door Latch Access
After=front_door_authorizer.service
Requires=front_door_authorizer.service
PartOf=front_door_latch.service
BindsTo=front_door_latch.service

[Service]
Type=simple

LogNamespace=keep

WorkingDirectory=/home/marcidy/100101SecBot

Environment="QUEERIOUSLABS_ENV=PROD"
ExecStart=/home/marcidy/venv/bin/python3 /home/marcidy/100101SecBot/rfid_reader.py
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
