[Unit]
Description=RFID Authorizer for Front Door Latch Access
Before=front_door_rfid_reader.service
After=front_door_latch.service
# Requires=front_door_latch.service
# PartOf=front_door_latch.service
# BindsTo=front_door_latch.service

[Service]
Type=simple

LogNamespace=keep
# RuntimeDirectory=queeriouslabs
WorkingDirectory=/home/marcidy/100101SecBot

Environment="QUEERIOUSLABS_ENV=PROD"
ExecStart=/home/marcidy/venv/bin/python3 /home/marcidy/100101SecBot/services/authorizer.py
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
